@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  width: 100%;
  font-family: "Ubuntu";
  color: #ffffff;
  background: #2d2e32 url(../public/images/bg-body.png) top right no-repeat;
}
